/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.home {
  background-image: url('/img/lined_paper.webp');
  background-repeat: repeat;
  min-height: 100svh;
}
