
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.portfolio-item {
  flex: 0 0 33.3333333%;
}

.portfolio-over-container {
  position: relative;

  .direction-indicators {
    position: absolute;
    width: 100%;
    top: 50%;
  }
}

@media (max-width: 992px) {
  .portfolio-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    user-select: none;

    &.dragging {
      cursor: grabbing;
    }
  }
  .portfolio-item {
    flex: 0 0 47%;
  }
}

@media (max-width: 768px) {
  .portfolio-item {
    flex: 0 0 90%;
  }
}
