@charset "UTF-8";

// override bootstrap variables
$primary: #3D3B40;
$secondary: #525CEB;
// $light: #FFFAEC;
$font-family-sans-serif: Montserrat, sans-serif;

// import bootstrap scss
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
