
.draggableContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.draggableItem {
  flex: 0 0 33.3333333%;
}

.draggableOuterContainer {
  position: relative;

  .directionIndicators {
    position: absolute;
    width: 100%;
    top: 50%;
    pointer-events: none;

    svg.swipe-indicator {
      opacity: 0.4;
    }
  }
}

@media (max-width: 992px) {
  .draggableContainer {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    user-select: none;

    &.dragging {
      cursor: grabbing;
    }
  }
  .draggableItem {
    flex: 0 0 48%;
  }
}

@media (max-width: 768px) {
  .draggableItem {
    flex: 0 0 95%;
  }
}
