/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
html[data-bs-theme="dark"] {
  .home {
    background: var(--bs-dark);
  }
}
.home {
  background-image: url('../assets/lined_paper.webp');
  background-repeat: repeat;
  min-height: 100svh;
}

.hero-buttons {
  .btn {
    width: 10em;
  }
}
