/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.home {
  background-image: url('../assets/lined_paper.webp');
  background-repeat: repeat;
  min-height: 100svh;
}

html[data-bs-theme="dark"] {
  .home {
    background-image: url('../assets/twinkle_twinkle.png');
  }
}

.hero-buttons {
  .btn {
    width: 10em;
  }
}




.switchContainer {
  padding: .4em;
  border-radius: 2rem;
  background-color: var(--bs-body-color);
  position: fixed;
  top: 10px;
  right: 10px;
  line-height: 1;
}

.darkModeSwitcher {
  appearance: none;
  width: 2em;
  height: 1em;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  transition: 0.4s;
  border-radius: 99em !important;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.darkModeSwitcher::before {
  content: "";
  width: .8em;
  height: .8em;
  position: absolute;
  top: calc(50% - 0.4em);
  left: .1em;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: .5s;
}

.darkModeSwitcher:checked::before {
  left: calc(100% - .9em);
  background-position: 0;
}

.darkModeSwitcher:checked {
  background-position: 100%;
}
