/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
html[data-bs-theme="dark"] {
  .home {
    background-image: url('../assets/dark_leather.png');
  }
}

.home {
  background-image: url('../assets/lined_paper.webp');
  background-repeat: repeat;
  min-height: 100svh;
}

.hero-buttons {
  .btn {
    width: 10em;
  }
}
