// Bootstrap over rides ---
// Import theme
@import "./themes/default";
// @import "./themes/blue";
// @import "./themes/dark-green";
// @import "./themes/dark-1";
// @import "./themes/dark-2";

$danger: #9E1A1A;
$success: #105B38;
$dark: #212529;
$light: #fefefe;

// Typography ------
// $font-size-base: 0.9375rem;;
$font-family-sans-serif: Montserrat, sans-serif;


// custom variables -----
$even-bg: #f0f0f0;
$odd-bg: #f6f6f6;

$box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
$text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
$transition: all ease-in-out 0.2s;
$transition-slow: all ease-in-out 0.35s;
