/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.stats {
  .count-box {
    position: relative;

    i {
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.skills {
  .progress-bar {
    width: 1px;
    height: 0.625rem;
    transition: width ease-in 1s;
  }
}


